.table img {
  max-width: 100px;
}

.nav-link:hover {
  background-color: gray;
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: 25px;
  right: 4px;
  opacity: 0.5;
  font-size: 90px;
}